<%- include('partials/header') %>

<h2>Zakończone przetargi</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Tytuł</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% endedTenders.forEach((tender, index) => { %>
        <tr>
            <td><%= index + 1 %></td>
            <td><a href="/tenders/<%= tender.id %>"><%= tender.title %></a></td>
            <td>Zakończono</td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include('partials/footer') %>
